In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
poland = gpd.read_file("https://www.gis-support.pl/downloads/2022/powiaty.zip")
poland["powiat_nazwa"] = poland["JPT_NAZWA_"].str.replace("powiat ", "")

In [7]:
ALL_DATA_W = pd.read_csv(
    "/Users/nelatoma/Documents/icm/magisterka/zgony/MAGISTERKA_OFFICIAL/results/ALL_DATA_TS.csv"
)
poviats_data_W = ALL_DATA_W.query("powiat_numer > 32")

In [9]:
poviats_data_W.query("YEAR == 2010")

,wiek,powiat_numer,powiat_nazwa,YEAR,wiek_eurostat,week,count
4123944,Ogółem,201,bolesławiecki,2010,TOTAL,T01,11
4123945,Ogółem,201,bolesławiecki,2010,TOTAL,T02,20
4123946,Ogółem,201,bolesławiecki,2010,TOTAL,T03,18
4123947,Ogółem,201,bolesławiecki,2010,TOTAL,T04,16
4123948,Ogółem,201,bolesławiecki,2010,TOTAL,T05,9
...,...,...,...,...,...,...,...
4535675,90 i więcej,3263,Świnoujście,2010,Y_GE85,T48,0
4535676,90 i więcej,3263,Świnoujście,2010,Y_GE85,T49,0
4535677,90 i więcej,3263,Świnoujście,2010,Y_GE85,T50,0
4535678,90 i więcej,3263,Świnoujście,2010,Y_GE85,T51,0
4535679,90 i więcej,3263,Świnoujście,2010,Y_GE85,T52,1

In [ ]:
poviats_data_W.YEAR